!!! 5
%html
	%head
		%title Test page
		%link{href: url.file('css', 'default.css'), media: 'screen, print', rel: 'stylesheet', type: 'text/css'}
	%body
		%header
			%h1 Welcome to default page of Rubko framework!
		#content
			%p
				You should edit controllers/welcome.rb and corresponding template views/welcome.haml.